{{ partial "header" . }}


<div class="content container">
  {{ .Content }}

  <ul>
    {{ $urlPre := "https://lit-savannah-76291.herokuapp.com" }}
    {{ $serviceUsersJSON := getJSON $urlPre "/" }}
    {{ range $serviceUsersJSON }}
      {{ if .phone }}
        <li class="serviceUser">
          <a href="/messenger/" target="_blank">
            <img class="profilePhoto" src="https://i.pinimg.com/originals/31/e2/45/31e2453eb8f41f40674ecb70360c0211.png" />
            <p>{{ .name }}</p>
            <p class="subcontact">{{ .phone }}</p>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>

{{ partial "footer" . }}